*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo {
    width: 250px;
    height: auto;
    margin: 25px;
}
ul{
    list-style-type: none;
   float: right;
   margin: 25px;

    
}
ul li{
    display: inline-block;
  
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    font-size: 30px;

}
.courses{
    position: relative;
}
.courses::after{
    content: "";
    width: 3.2rem;
    height: 0.3rem;
    background-color:orangered;
    position: absolute;
    left: 62%;
    top: 90%; 
    transform: translate(-50%);
     border-radius: 5px;

}
.column{
    float: left;
    padding: 10px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
h2{
    color: white;
    margin-top: 100px;
    margin-left: 30px;
    font-size: 30px;

}

.person{
    width: 500px;
    position: fixed;
    right: 20px;
}


